services:
  app:
    build: .
    container_name: spacex-tracker
    ports:
      - "8080:8080"
    
    environment:
      PORT: 8080
      SPACEX_BASE_URL: https://api.spacexdata.com/v4
      REDIS_ADDR: redis:6379
      REDIS_PASSWORD: ""
      REDIS_DB: 0
    depends_on:
      - redis
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: spacex-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    restart: unless-stopped

volumes:
  redis-data:
